body {
  font-family: -apple-system, BlinkMacSystemFont, Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
  color: #000;
  background: #50bdc9;
  -webkit-font-smoothing: antialiased;
}

.img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

main {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card {
  width: auto;
}

.username {
  margin-bottom: 5px;
  font-size: 36px;
  line-height: 40px;
  color: #38848c;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .2);
}

.contacts {
  margin: 10px 0;
  padding: 0;
  list-style: none;
  -webkit-animation: contacts .3s .4s both;
}

.contacts li {
  margin: 0 0 5px;
  padding: 0;
}

@-webkit-keyframes contacts {
  from {
    -webkit-transform: translateY(5px);
    transform: translateY(5px);
    opacity: 0;
  }
  to {
  -webkit-transform: none;
  transform: none;
  opacity: 1;
  }
}

.contacts__link, .contacts__link:link, .contacts__link:visited  {
  text-decoration: none;
  color: #fff;
  border-bottom: 1px transparent solid;
}

.contacts__link:hover {
  border-bottom: 1px rgba(255, 255, 255, 0.9) solid;
}

.contacts__email {
  color: #fff;
}

.contacts__email--color {
  color: #275c62;
}


/* Portfolio */
.header {
  margin-top: 15px;
  margin-left: 15px;
}

.header__link, .header__link:link, .header__link:visited  {
  font-size: 14px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px transparent solid;
}

.header__link:hover {
  border-bottom: 1px rgba(255, 255, 255, 0.9) solid;
}

.main-title {
  margin: 70px 0 20px;
  font-size: 28px;
  text-align: center;
  color: #fff;
}

.portfolio-card {
  margin: 20px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #38848c;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.portfolio-card__img {
  width: 100%;
  height: 166%; /* fix for IE */
}

.portfolio-card__info {
  margin: 20px 15px;
  width: calc(100% - 30px); /* fix for IE text overflow */
  height: 100%;
}

.card-item__title {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.card-item__description {
  margin: 10px 0;
  font-size: 14px;
  color: #fff;
}

.description-link {
  color: #fff;
}

.portfolio-card__link {
  display: inline-block;
  margin: 15px 15px;
  color: #fff;
  text-decoration: none;
  border-bottom: 1px rgba(255, 255, 255, 0.9) solid;
}

.portfolio-card__link:hover {
  opacity: .8;
}



@media (min-width: 576px) {
  .contacts li {
    display: inline-block;
    margin-right: 20px;
  }

  /* Portfolio */
  .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .portfolio-card {
    width: 46.333%;
  }
}

@media (min-width: 768px) {
  /* Portfolio */
  .portfolio {
    width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  /* Portfolio */
  .portfolio {
    width: 960px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .portfolio-card {
    width: 31.178%;
  }
}

@media (min-width: 1200px) {
  /* Portfolio */
  .portfolio {
    width: 1140px;
  }
}